/* General Styles */
html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
    color: whitesmoke;
    text-align: center;
    height: 100%;
    width: 100%;
}

header {
    margin-bottom: 50px;
    position: relative;
}

header::after {
    animation: appear 1s ease-in 1.25s 1 alternate both;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-bottom: 1px solid #8b8a8a;
}

* {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.pageHeader {
    animation: appear 0.2s ease-in 0s 1 alternate both;
}

.pageHeaderHome {
    animation: appear 3s ease-in 0.5s 1 alternate both;
}

.logoImg {
    position: relative;
    top: -20px;
    right: -7px;
    width: 200px;
    height: auto;
}

#root {
    margin: 0;
  background: url('/images/darkWave.svg') no-repeat center top;
  background-size: cover;
}

h1 {
    font-family: Prompt, sans-serif;
    letter-spacing: 0.05em;
    font-weight: 500;
    margin: 0;
}

p {
    font-size: 20px;
}

a {
    color: #373881;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--primary-dark);
    text-decoration: underline;
}

i {
    font-size: 18px;
}

/* Light and Dark Mode */
.light {
  background: url('/images/lightWave.svg') no-repeat center top;
  background-size: cover;
  color: #101a22;
}

.light, .light * {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.light .modeBtn {
    border: 2px solid lightgray;
}

.light .projDiv,
.light .abt,
.light .condiv {
    background-color: rgba(255, 255, 255, 0.836);
    backdrop-filter: blur(8px);
    border: 1px solid #4f4f52c4;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.829);
}

.light .projDiv,
.light .abt,
.light p,
.light h1 {
    color:#1b1b1b;
}

.light .main button,
.light .dogBtn {
    background-color: var(--primary);
    color: rgb(34, 34, 34);
    border: 1px solid #4f4f52c4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.light .dogBtn:hover {
    background-color: var(--primary-dark);
    font-weight: 600;
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.418);
}

.light .modeBtn:hover {
    background-color: #e7e7e7;
    box-shadow: 0 0 10px #242424aa;
}

.norm {
      background: url('/images/darkWave.svg') no-repeat center top;
  background-size: cover;
}

.norm * {
    color: #e2e8f0;
}

.norm .projDiv,
.norm .abt,
.norm .condiv {
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.829);
}

.norm main {
    background-color: #1e293b;
}

.norm h1, .norm h2, .norm h3 {
    color: #f8fafc;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.norm p {
    color: #cbd5e1;
}

.norm .selfie {
    border: 4px solid #0f172a;
}

.norm .modeBtn, .norm .dogBtn {
    background-color: rgba(0, 0, 0, 0.459);
    color: #f8fafc;
    border: 1px solid #64748b;
}

.norm .modeBtn:hover,
.norm .dogBtn:hover {
    background-color: rgba(31, 31, 31, 0.459);
    box-shadow: 0 0 10px #2c2c2caa;
}

.norm .dogBtn, .light .dogBtn {
    padding: 1em 2em
}

/* Main Content */
.main {
    padding-bottom: 2em;
    flex: 1;
    min-height: 100vh;
}

.norm main, .light main {
    padding: 3em;
    margin-top: 1.5em;
    border-radius: 5px;
    flex: 1;
}

.main button {
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
}

/* About Section */
.abt {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.75em;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 10px;
    width: 65%;
}

.abt h1 {
    text-align: center;
}

.abt p {
    line-height: 1.7em;
}

.selfie {
    align-self: center;
    width: 60%;
    border-radius: 50%;
    margin-bottom: 1em;
    border: 3px solid #242323;
    max-width: 450px;
}

.light .selfie {
    border: 3px solid #3b3b3bc4;
}

/* Stell Section */
.stell {
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 80%;
}

.stell img {
    width: 80%;
    border: 3px solid #1b1b1b;
    margin-bottom: 20px;
    max-width: 400px;
    border-radius: 15px;
}

/* Contact Info Section */
.conInf {
    display: flex;
    align-items: center;
    gap: 2em;
    text-align: left;
    margin-left: 1.5em;
}

.condiv {
    margin-top: 50px;
    padding: 1em;
    margin: 0 auto;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 2px solid #373881;
    
}

/* Projects Section */
.projDiv {
    padding: 1.5rem 2rem;
    background-color: white;
    border: 1px solid var(--bg-medium);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 0 auto 2rem auto;
    width: 75%;
}

.projDiv img {
    border-radius: 10px;
    width: 300px;
    border: 1px solid #1b1b1b;
}

.projDiv p {
    font-size: 16px;
    line-height: 1.7em;
}

/* Misc */
.siteUrl {
    font-size: 12px;
    margin-top: 0;
}

.projTit {
    margin-bottom: 5px;
    font-size: 28px;
}



.siteHead {
    font-size: 44px;
}


.headInfo {
    padding-top: 50px;
    opacity: 0;
    animation: appear 3s ease-in 0.1s 1 alternate both;
}


.selfie:hover, .projDiv img:hover {
    box-shadow: 0 0 15px rgba(54, 54, 54, 0.459);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.light a {
    color: #252525;
}

/* Keyframes */
@keyframes move {
    from { width: 100vw; }
    to { width: 10px; }
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 100; }
}

/* Media Queries */
@media (min-width: 600px) and (max-width: 1024px) {
    .abt {
        max-width: 60%;
        min-width: 300px;
        font-size: 0.6rem;
        line-height: 2.5em;
    }

    .abt p {
        padding: 0 1.5em;
    }

    .main button {
        font-size: 20px;
    }

    .dogPics, .condiv {
        display: flex;
        justify-content: center;
        justify-content: space-around;

    }
    .doggos {
        font-size: 2em;
    }
    .stell img {
        width: 40%;
    }

    .condiv {
        max-width: 375px;
        text-align: center;
    }

    .projDiv {
        margin: 4em;
        padding: 2em;
    }

    .modeBtn i {
        font-size: 15px;
    }

    .box {
        width: 110px;
        height: 75px;
    }

    .selfie {
        max-width: 250px;
        margin-bottom: 4em;
    }
}

@media (min-width: 1024px) {
    .abt {
        max-width: 800px;
        min-width: 500px;
    }

    .main button {
        font-size: 20px;
        max-width: 50%;
        align-self: center;
    }

    .dogPics {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .stell img {
        max-width: 300px;
        max-height: 250px;
    }

    .condiv {
        max-width: 375px;
    }

    .projDiv {
        margin: 4em;
        padding: 2em;
        max-width: 500px;
    }

    .modeBtn i {
        font-size: 15px;
    }

    .myProjs {
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .abt p {
        font-size: 1.25em;
        line-height: 1.75em;
        padding: 0 4em;
    }

    .selfie {
        margin: 50px 0;
        max-width: 250px;
    }

    .box {
        width: 110px;
        height: 90px;
    }
}